# 1. Exploring the StatsBomb dataset

In [1]:
import requests
import pandas as pd

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

### Load in data
With the `format` function we can use the `{}` to insert Competition ID and Season ID in the `matches_url` and the Match ID (extracted from the match data) in the `events_url`.

In [2]:
base_url = "https://raw.githubusercontent.com/statsbomb/open-data/master/data/"
matches_url = base_url + "matches/{}/{}.json"
events_url = base_url + "events/{}.json"

In this function we extract all the event data from StatsBomb

In [3]:
def load_data(competition_id, season_id):
    matches = requests.get(url=matches_url.format(competition_id, season_id)).json()
    match_ids = [match["match_id"] for match in matches]
    
    #all_events = []
    for match_id in match_ids:
        events = requests.get(url=events_url.format(match_id)).json()
        #all_events.append(event)
    
    return events

In [4]:
#The 2018 World Cup has the ID´s 43 and 3
competition_id = 43
season_id = 3

Load all event into the `events` variable.

In [5]:
events = load_data(competition_id, season_id)

We can now extract e.g. all passes from the world cup.

In [6]:
passes = [x for x in df if x["type"]["name"] == "Pass"]

NameError: name 'df' is not defined

In [41]:
all_passes = []
for p in passes:
    attributes = {
        "player_name": p["player"]["name"],
        "length": p["pass"]["length"],
    }
    all_passes.append(attributes)
pd.DataFrame(all_passes)

          player_name     length
0       Bamidele Alli  21.023796
1         John Stones  28.160255
2         Kyle Walker  15.000000
3         John Stones  13.928389
4         Kyle Walker  24.083189
...               ...        ...
1188    Harry Maguire  25.079872
1189       Harry Kane  30.265491
1190    Bamidele Alli   6.403124
1191  Marcus Rashford  32.015620
1192     Ivan Perišić  25.000000

[1193 rows x 2 columns]